#blah 
{
    border-radius: 200px;
}
#form-border tr td {
    border-top: none!important;
}
 
.imagediv {
    float:left;
    margin-top:50px;
}
.imagediv .showonhover {
    background:red;
    padding:20px;
    opacity:0.9;
    color:white;
    width: 100%;
    display:block;  
    text-align:center;
    cursor:pointer;
}

/*upload image start*/

.profile-pic {
     border-radius: 200px;
}

.file-upload {
    display: none;
}
 
.p-image {
  position: absolute;
  top: 112px;
  /*right: 30px;*/
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  width: 12%;
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
  /*transform: translateY(-90px)*/
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
/*upload image end*/

/*data table start*/
#dataTable3 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #7b83d6;
}

.table-container>table>tr>td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
 
#dataTable3 tr:nth-child(even) {
  background-color: #dddddd;
}

/*data table end*/

 